/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



 .my-custom-modal-css .modal-wrapper {
    
    height: 60%;
    width: 30%;
    bottom: 19.5%;
    left: 60%; 
    position: absolute;
    display: block;  
    @media (max-width: 1200px) {
          width: 40%;
        } 
    @media (max-height: 800px) {
        bottom: 12%; 
    }
    @media (max-height: 600px) {
        bottom: 8%; 
    }
    @media (max-height: 400px) {
        bottom: 5%; 
    }
    @media (max-height: 200px) {
        bottom: 0%; 
    }
  }

  .paragraph .modal-wrapper {
    color: "#38b6ff";
  }
  .product-image {
        max-width:100%;
        height:auto;
        object-fit: contain;
  }
